.text-container {
    font-size: 150px;
    margin: 7vw;
    color: rgba(225,225,225, .01);
    background-image: url("../img/back.jpg");
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0%, 100% {
        background-position: left top;
    }
    25%{
        background-position: right bottom;
    }
    50% {
        background-position: left bottom;
    }
    75% {
        background-position: right top;
    }
}

.mouse::before {
    --size: 200px;
    content: '';
    position: fixed;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, rgb(166, 204, 221), transparent);
    transform: translate(-50%, -50%);
    transition: 0 0.2s ease, 0 0.2s ease;
    z-index: -10;
}

.navitem {
    width: 10vw;
}

.navdes {
    width: inherit;
    height: 15px;
    background-color: rgb(66, 66, 66);
}

.hover:hover {
    .navdes {
        background-color: rgb(220, 229, 242);
    }
}

.hoveractive:hover {
    .navdesactive {
        background-color: rgb(21, 56, 228);
    }
}

.navdesactive {
    width: inherit;
    height: 15px;
    background-color: rgb(48, 123, 221);
}

.navmenu {
    width: auto;
    height: 10vh;
}

.head {
    font-family: 'Noto Sans Display', sans-serif;
}

.backgr {
    background-color: black;
    z-index: -20;
}

.textjustify {
    text-align: justify;
}

.imgresize {
    width: 50%;
    height: 50%;
    transform: translate(50%, 0%);
}

.freebutton {
    background: transparent;
    box-shadow: 0 2px 4px 0 white;
    transition: 0.3s;
}

.freebutton:hover {
    transition: 0.3s;
    transform: scale(1.05, 1.05);
}

.footerline {
    height: 3px;
    background-color: gray;
}