header {
    position: sticky;
    top: 0;
}

.imgframe {
    width: 100%;
    height: 38vw;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    font-size: 150px;
    margin: 7vw;
    color: rgba(225,225,225, .01);
    background-image: url("../img/back.jpg");
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient 10s ease infinite;
}

.text-container-2 {
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 0px 3px #504343;
}

.text-container-3 {
    font-family: 'PT Sans', sans-serif;
}

.text-container-4 {
    font-family: 'Open Sans', sans-serif;
}

.text-container-5 {
    font-family: 'Inter', sans-serif;
}

.text-container-6 {
    font-family: 'Rubik', sans-serif;
}

.text-container-7 {
    font-family: 'Barlow', sans-serif;
}

.toastpos {
    right: 0;
}

.toasttext {
    font-size: 17px;
}

@media only screen and (max-width: 990px) {
    .carousel-title {
        font-size: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .text-container {
        font-size: 120px;
    }

    .text-container-2 {
        font-size: 90px;
    }

    .carousel-title {
        font-size: 28px;
    }

    .toasttext {
        font-size: 15px;
    }
}

@media only screen and (max-width: 650px) {
    .text-container {
        font-size: 100px;
    }

    .text-container-2 {
        font-size: 80px;
    }

    .carousel-title {
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .text-container {
        font-size: 80px;
    }

    .text-container-2 {
        font-size: 70px;
    }

    .carousel-title {
        font-size: 20px;
    }
}

@keyframes gradient {
	0%, 100% {
        background-position: left top;
    }
    25%{
        background-position: right bottom;
    }
    50% {
        background-position: left bottom;
    }
    75% {
        background-position: right top;
    }
}

.mouse::before {
    --size: 200px;
    content: '';
    position: fixed;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, rgb(166, 204, 221), transparent);
    transform: translate(-50%, -50%);
    transition: 0 0.2s ease, 0 0.2s ease;
    z-index: -10;
}

.navitem {
    width: 10vw;
}

.navdes {
    width: inherit;
    height: 15px;
    background-color: rgb(66, 66, 66);
}

.hover:hover {
    .navdes {
        background-color: rgb(220, 229, 242);
    }
}

.hoveractive:hover {
    .navdesactive {
        background-color: rgb(21, 56, 228);
    }
}

.navdesactive {
    width: inherit;
    height: 15px;
    background-color: rgb(48, 123, 221);
}

.head {
    font-family: 'Noto Sans Display', sans-serif;
}

.backgr {
    background-color: black;
    z-index: -20;
}

.backgr-2 {
    background-color: rgb(230, 228, 221);
}

.textjustify {
    text-align: justify;
}

.imgresize {
    width: 50%;
    height: 50%;
    transform: translate(50%, 0%);
}

.buttonan {
    background: transparent;
    box-shadow: 0 2px 4px 0 white;
    transition: 0.3s;
}

.buttonan:hover {
    transition: 0.3s;
    transform: scale(1.05, 1.05);
}

.line {
    height: 3px;
    background-color: gray;
}